
<div class="jumbotron">
       <h1 class="display-4">Hello, Aumet!</h1>
       <p class="lead">This is a simple test page; you can filter by name, view Gallery and List of products</p>
</div>


<div class="container mt-5">
       <div class="row">
              <div class="col-12">
                     <h5 class="text-left">Filter by name</h5>
              </div>
       </div>
       <div class="row">
              <div class="col-6">
                     <input 
                            [(ngModel)]="search"
                            typeaheadOptionField="name"
                            [typeahead]="suggestions$"
                            [typeaheadAsync]="true"
                            class="form-control"
                            (typeaheadOnSelect)="onSelect($event)"
                            placeholder="Product name..">
               
              </div>
              <div class="col-12 mt-3">
                     <div class="col-6" *ngIf="selected">
                            <h3>Results</h3>

                            <div class="card mb-3" >
                                   <img [src]="selected.imagePath" class="card-img-top" alt="..." width="">
                                   <div class="card-body">
                                          <h5 class="card-title">{{selected.name}}</h5>
                                          <p class="card-text">Created at: {{selected.createdAt | date:'medium'}}</p>
                                   </div>
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                                   {{ errorMessage }}
                            </div>
                     </div>
              </div>
       </div>
       <hr class="my-5">
</div>



<div class="container mt-5">
       <div class="row">
              <div class="col-12">
                     <h3 class="text-left">Gallery</h3>
              </div>
       </div>
       <div class="row">
              <div class="col-12 col-sm-4" *ngFor="let item of galleryList">
                     <!-- List of gallery sould be shown here -->
                     <div class="card mb-3">
                            <img [src]="item.url" class="card-img-top" alt="...">
                            <div class="card-body">
                                   <h5 class="card-title">{{item.name}}</h5>
                                   <p class="card-text">{{item.type}}</p>
                            </div>
                     </div>
              </div>
       </div>
</div>

<div class="container mt-5">
       <div class="row">
              <div class="col-12">
                     <h3 class="text-left">Products</h3>
              </div>
       </div>
       <div class="row">
              <div class="col-12 col-sm-4" *ngFor="let item of productList">
                     <!-- List of Products sould be shown here -->
                     <div class="card mb-3">
                            <img [src]="item.image" class="card-img-top" alt="...">
                            <div class="card-body">
                                   <h5 class="card-title text-primary">{{item.productTitle}}</h5>
                                   <p class="card-text" [innerHTML]="item.description"></p>
                            </div>
                     </div>
              </div>
       </div>
</div>